{% if pageCount > 1 %}
<ul class="pagination">

    {% if first is defined and current != first %}
        <li class="first arrow">
            <a href="{{ path(route, query|merge({(pageParameterName): first})) }}"><i class="fa fa-angle-double-left"></i></a>
        </li>
    {% endif %}

    {% if previous is defined %}
        <li class="previous arrow">
            <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}"><i class="fa fa-angle-left"></i></a>
        </li>
    {% endif %}

    {% for page in pagesInRange %}
        <li class="{% if page == current %}current{% endif %}"><a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a></li>
    {% endfor %}

    {% if next is defined %}
        <li class="next arrow">
            <a href="{{ path(route, query|merge({(pageParameterName): next})) }}"><i class="fa fa-angle-right"></i></a>
        </li>
    {% endif %}

    {% if last is defined and current != last %}
        <li class="last arrow">
            <a href="{{ path(route, query|merge({(pageParameterName): last})) }}"><i class="fa fa-angle-double-right"></i></a>
        </li>
    {% endif %}

</ul>
{% endif %}
