{% extends 'form_div_layout.html.twig' %}

{# Rows #}

{% block form_start %}
    {% if attr.class is not defined %}
        {% set attr = attr|merge({'class': 'custom'}) %}
    {% else %}
        {% set attr = attr|merge({'class': 'custom ' ~ attr.class }) %}
    {% endif %}
    {{ parent() }}
{% endblock form_start %}

{% block form_row %}
    {% if class_row is not defined %}
        {% set class_row = ['row'] %}
    {% else %}
        {% set class_row = ['row']|merge(class_row) %}
    {% endif %}
    {% if errors|length > 0 %}
        {% set class_row = class_row|merge(['error']) %}
    {% endif %}
    <div class="{{ class_row|join(' ') }}">
        <div class="columns">
            {% if collapse_row is defined %}<div class="row collapse">{% endif %}
                {{ form_label(form) }}
                {{ form_widget(form) }}
                {{ block('form_widget_errors') }}
                {% if collapse_row is defined %}</div>{% endif %}
        </div>
    </div>
{% endblock form_row %}

{% block money_row %}
    {% set collapse_row = true %}
    {{ block('form_row') }}
{% endblock money_row %}

{% block url_row %}
    {% set collapse_row = true %}
    {{ block('form_row') }}
{% endblock url_row %}

{% block percent_row %}
    {% set collapse_row = true %}
    {{ block('form_row') }}
{% endblock percent_row %}

{% block search_row %}
    {% set collapse_row = true %}
    {{ block('form_row') }}
{% endblock search_row %}

{% block button_row %}
    {% if class_row is not defined %}
        {% set class_row = ['row'] %}
    {% else %}
        {% set class_row = ['row']|merge(class_row) %}
    {% endif %}
    <div class="{{ class_row|join(' ') }}">
        <div class="columns">
            {% if collapse_row is defined %}<div class="row collapse">{% endif %}
            {{ form_widget(form) }}
            {% if collapse_row is defined %}</div>{% endif %}
        </div>
    </div>
{% endblock button_row %}

{# Widgets #}

{% block date_widget %}
    {% if widget == 'single_text' %}
        {{ block('form_widget_simple') }}
    {% else %}
        {% if attr.class is defined %}
            {% set attr = attr|merge({'class': 'row ' ~ attr.class }) %}
        {% else %}
            {% set attr = attr|merge({'class': 'row'}) %}
        {% endif %}
        <div {{ block('widget_container_attributes') }}>
            {{ date_pattern|replace({
            '{{ year }}':  '<div class="medium-2 large-2 columns">' ~ form_widget(form.year) ~ '</div>',
            '{{ month }}': '<div class="medium-2 large-2 columns">' ~ form_widget(form.month) ~ '</div>',
            '{{ day }}':   '<div class="medium-2 large-2 columns">' ~ form_widget(form.day) ~ '</div>'
            })|raw }}
            <div class="medium-3 large-9 columns"></div>
        </div>
    {% endif %}
{% endblock date_widget %}

{% block time_widget %}
    {% if widget == 'single_text' %}
        {{ block('form_widget_simple') }}
    {% else %}
        {% set vars = widget == 'text' ? { 'attr': { 'size': 1 }} : {} %}
        {% if attr.class is defined %}
            {% set attr = attr|merge({'class': 'row ' ~ attr.class }) %}
        {% else %}
            {% set attr = attr|merge({'class': 'row'}) %}
        {% endif %}
        {% set spacer = 10 %}
        <div {{ block('widget_container_attributes') }}>
            <div class="medium-2 large-2 columns">{{ form_widget(form.hour, vars) }}</div>
            {% if with_minutes %}
                {% set spacer = spacer - 2 %}
                <div class="medium-2 large-2 columns">{{ form_widget(form.minute, vars) }}</div>
            {% endif %}
            {% if with_seconds %}
                {% set spacer = spacer - 2 %}
                <div class="medium-2 large-2 columns">{{ form_widget(form.second, vars) }}</div>
            {% endif %}
            <div class="medium-{{ spacer }} large-{{ spacer }} columns"></div>
        </div>
    {% endif %}
{% endblock time_widget %}

{% block datetime_widget %}
    {% if widget == 'single_text' %}
        {{ block('form_widget_simple') }}
    {% else %}
        <div {{ block('widget_container_attributes') }}>
            {{ form_errors(form.date) }}
            {{ form_errors(form.time) }}
            {{ form_widget(form.date) }}
            {{ form_widget(form.time) }}
        </div>
    {% endif %}
{% endblock datetime_widget %}

{% block money_widget %}
    <div class="small-11 medium-11 large-11 columns">{{ block('form_widget_simple') }}</div>
    <div class="small-1 medium-1 large-1 columns"><span class="postfix">{{ money_pattern|replace({ ' {{ widget }}': ''})|raw }}</span></div>
{% endblock money_widget %}

{% block url_widget %}
    {% set type = type|default('url') %}
    <div class="small-1 medium-1 large-1 columns"><span class="prefix">http://</span></div>
    <div class="small-11 medium-11 large-11 columns">{{ block('form_widget_simple') }}</div>
{% endblock url_widget %}

{% block percent_widget %}
    {% set type = type|default('text') %}
    <div class="small-11 medium-11 large-11 columns">{{ block('form_widget_simple') }}</div>
    <div class="small-1 medium-1 large-1 columns"><span class="postfix">%</span></div>
{% endblock percent_widget %}

{% block search_widget %}
    {% set type = type|default('search') %}
    <div class="small-11 medium-11 large-11 columns">{{ block('form_widget_simple') }}</div>
    <div class="small-1 medium-1 large-1 columns"><span class="postfix"><i class="fa fa-search"></i></span></div>
{% endblock search_widget %}

{% block choice_widget_expanded -%}
    <div {{ block('widget_container_attributes') }}>
        {% for child in form %}
            {% if is_switch is defined %}
                {{ form_label(child) }}
                <div class="switch">
                    {{ form_widget(child) }}
                    <label for="{{ child.vars.id }}"></label>
                </div>
            {% else %}
                {{ form_widget(child) }}
                {{ form_label(child) }}
            {% endif %}
        {% endfor %}
    </div>
{% endblock choice_widget_expanded %}

{% block switch_widget %}
    {% set is_switch = true %}
    {{ block('choice_widget_expanded') }}
{% endblock switch_widget %}

{% block slider_widget %}
    {% set slideClass = 'range-slider' %}
    {% if vertical is defined %}
        {% set slideClass = slideClass ~ ' vertical-range' %}
    {% endif %}
    {% if attr.class is not defined %}
        {% set attr = attr|merge({'class': slideClass}) %}
    {% else %}
        {% set attr = attr|merge({'class': slideClass ~ attr.class }) %}
    {% endif %}
    <div data-slider="{{ value }}" data-options="start: {{ start }}; end: {{ end }}; step: {{ step }};{% if vertical is defined %} vertical: true;{% endif %}" {{ block('widget_container_attributes') }}>
        <span class="range-slider-handle"></span>
        <span class="range-slider-active-segment"></span>
        <input type="hidden" {{ block('widget_attributes') }}/>
    </div>
{% endblock slider_widget %}

{# Misc #}

{% block form_errors %}
    {% if errors|length > 0 %}
        <div class="row">
            <div class="columns">
                <div data-alert class="alert-box alert">
                    <ul>
                        {% for error in errors %}
                            <li>{{ error.message }}</li>
                        {% endfor %}
                    </ul>
                    <a href="#" class="close">&times;</a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock form_errors %}

{% block form_widget_errors %}
    {% if errors|length > 0 %}
        <small class="error">
            {% for error in errors %}
                {{ error.message }}{% if not loop.last %}<br />{% endif %}
            {% endfor %}
        </small>
    {% endif %}
{% endblock form_widget_errors %}
