{% extends 'form_div_layout.html.twig' %}

{# Widgets #}

{% block money_widget -%}
    <div class="small-11 columns">{{ block('form_widget_simple') }}</div>
    <div class="small-1 columns"><span class="postfix">{{ money_pattern|replace({' {{ widget }}': ''})|raw }}</span></div>
{%- endblock money_widget %}

{% block url_widget -%}
    {%- set type = type|default('url') -%}
    <div class="small-1 columns"><span class="prefix">http://</span></div>
    <div class="small-11 columns">{{ block('form_widget_simple') }}</div>
{%- endblock url_widget %}

{% block percent_widget -%}
    {%- set type = type|default('text') -%}
    <div class="small-11 columns">{{ block('form_widget_simple') }}</div>
    <div class="small-1 columns"><span class="postfix">%</span></div>
{%- endblock percent_widget %}

{% block search_widget -%}
    {%- set type = type|default('search') -%}
    <div class="small-11 columns">{{ block('form_widget_simple') }}</div>
    <div class="small-1 columns"><span class="postfix"><i class="fa fa-search"></i></span></div>
{%- endblock search_widget %}

{# Rows #}

{% block form_row -%}
    {{ dump(form) }}
    <div class="row">
        <div class="small-12 columns">
            {%- if collapse_row is defined %}<div class="row collapse">{% endif -%}
            {{- form_label(form) -}}
            {{- form_errors(form) -}}
            {{- form_widget(form) -}}
            {%- if collapse_row is defined %}</div>{% endif -%}
        </div>
    </div>
{%- endblock form_row %}

{% block money_row -%}
    {%- set collapse_row = true -%}
    {{ block('form_row') }}
{%- endblock money_row %}

{% block url_row -%}
    {%- set collapse_row = true -%}
    {{ block('form_row') }}
{%- endblock url_row %}

{% block percent_row -%}
    {%- set collapse_row = true -%}
    {{ block('form_row') }}
{%- endblock percent_row %}

{% block search_row -%}
    {%- set collapse_row = true -%}
    {{ block('form_row') }}
{%- endblock search_row %}