{% extends 'form_div_layout.html.twig' %}

{# Widgets #}

{% block money_widget -%}
    <div class="small-11 columns">{{ block('form_widget_simple') }}</div>
    <div class="small-1 columns"><span class="postfix">{{ money_pattern|replace({' {{ widget }}': ''})|raw }}</span></div>
{%- endblock money_widget %}

{% block url_widget -%}
    {%- set type = type|default('url') -%}
    <div class="small-1 columns"><span class="prefix">http://</span></div>
    <div class="small-11 columns">{{ block('form_widget_simple') }}</div>
{%- endblock url_widget %}

{% block percent_widget -%}
    {%- set type = type|default('text') -%}
    <div class="small-11 columns">{{ block('form_widget_simple') }}</div>
    <div class="small-1 columns"><span class="postfix">%</span></div>
{%- endblock percent_widget %}

{% block search_widget -%}
    {%- set type = type|default('search') -%}
    <div class="small-11 columns">{{ block('form_widget_simple') }}</div>
    <div class="small-1 columns"><span class="postfix"><i class="fa fa-search"></i></span></div>
{%- endblock search_widget %}

{% block date_widget -%}
    {% if widget == 'single_text' %}
        {{- block('form_widget_simple') -}}
    {% else -%}
        {%- if attr.class is defined -%}
            {% set attr = attr|merge({'class': 'row ' ~ attr.class }) %}
        {%- else -%}
            {% set attr = attr|merge({'class': 'row'}) %}
        {%- endif -%}
        <div {{ block('widget_container_attributes') }}>
            {{- date_pattern|replace({
            '{{ year }}':  '<div class="small-4 medium-2 columns">' ~ form_widget(form.year) ~ '</div>',
            '{{ month }}': '<div class="small-4 medium-2 columns">' ~ form_widget(form.month) ~ '</div>',
            '{{ day }}':   '<div class="small-4 medium-2 columns">' ~ form_widget(form.day) ~ '</div>',
            })|raw -}}
            <div class="columns end"></div>
        </div>
    {%- endif %}
{%- endblock date_widget %}

{% block time_widget -%}
    {% if widget == 'single_text' %}
        {{- block('form_widget_simple') -}}
    {% else -%}
        {% set vars = widget == 'text' ? { 'attr': { 'size': 1 }} : {} %}
        {%- if attr.class is defined -%}
            {% set attr = attr|merge({'class': 'row ' ~ attr.class }) %}
        {%- else -%}
            {% set attr = attr|merge({'class': 'row'}) %}
        {%- endif -%}
        <div {{ block('widget_container_attributes') }}>
            <div class="small-2 columns">{{ form_widget(form.hour, vars) }}</div>
            {% if with_minutes -%}
                <div class="small-2 columns">{{ form_widget(form.minute, vars) }}</div>
            {%- endif %}
            {% if with_seconds -%}
                <div class="small-2 columns">: {{ form_widget(form.second, vars) }}</div>
            {%- endif %}
            <div class="columns end"></div>
    </div>
    {%- endif %}
{%- endblock time_widget %}

{% block slider_widget -%}
    {% set slideClass = 'range-slider' %}
    {% if vertical is defined %}
        {% set slideClass = slideClass ~ ' vertical-range' %}
    {% endif %}
    {% if attr.class is not defined %}
        {% set attr = attr|merge({'class': slideClass}) %}
    {% else %}
        {% set attr = attr|merge({'class': slideClass ~ attr.class }) %}
    {% endif %}
    <div data-slider="{{ value }}" data-options="start: {{ start }}; end: {{ end }}; step: {{ step }};{% if vertical is defined %} vertical: true;{% endif %}" {{ block('widget_container_attributes') }}>
        <span class="range-slider-handle"></span>
        <span class="range-slider-active-segment"></span>
        <input type="hidden" {{ block('widget_attributes') }}/>
    </div>
{%- endblock slider_widget %}

{% block switch_widget -%}
    {% set is_switch = true %}
    {{ block('choice_widget_expanded') }}
{%- endblock switch_widget %}

{% block choice_widget_expanded -%}
    <div {{ block('widget_container_attributes') }}>
        {%- for child in form %}
            {%- if is_switch is defined -%}
                {{- form_label(child) -}}
                <div class="switch">
                    {{- form_widget(child) -}}
                    <label for="{{ child.vars.id }}"></label>
                </div>
            {%- else -%}
                {{- form_widget(child) -}}
                {{- form_label(child) -}}
            {%- endif -%}
        {% endfor -%}
    </div>
{% endblock choice_widget_expanded %}

{% block button_group_widget -%}
    {% for button in form.children %}
        <li>{{- form_widget(button) -}}</li>
    {% endfor %}
{%- endblock %}

{# Rows #}

{% block form_row -%}
    <div class="row">
        <div class="small-12 columns">
            {%- if collapse_row is defined %}<div class="row collapse">{% endif -%}
            {{- form_label(form) -}}
            {{- form_errors(form) -}}
            {{- form_widget(form) -}}
            {%- if collapse_row is defined %}</div>{% endif -%}
        </div>
    </div>
{%- endblock form_row %}

{% block money_row -%}
    {%- set collapse_row = true -%}
    {{ block('form_row') }}
{%- endblock money_row %}

{% block url_row -%}
    {%- set collapse_row = true -%}
    {{ block('form_row') }}
{%- endblock url_row %}

{% block percent_row -%}
    {%- set collapse_row = true -%}
    {{ block('form_row') }}
{%- endblock percent_row %}

{% block search_row -%}
    {%- set collapse_row = true -%}
    {{ block('form_row') }}
{%- endblock search_row %}

{% block button_row -%}
    <div class="row">
        <div class="small-12 columns">
            {%- if collapse_row is defined %}<div class="row collapse">{% endif -%}
            {{- form_widget(form) -}}
            {%- if collapse_row is defined %}</div>{% endif -%}
        </div>
    </div>
{%- endblock button_row %}

{% block button_group_row -%}
    <div class="row">
        <div class="small-12 columns">
            {%- if collapse_row is defined %}<div class="row collapse">{% endif -%}
            <ul class="button-group {{ attr.class }}">
                {{- form_widget(form) -}}
            </ul>
            {%- if collapse_row is defined %}</div>{% endif -%}
        </div>
    </div>
{%- endblock button_group_row %}








